{
  "presets": ["next/babel"],
  "plugins": [
    [
      "import",
      {
        "libraryName": "antd"
      }
    ],
    [
      "inline-import",
      {
        "extensions": [".css"]
      }
    ]
  ]
}
